body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
    
}


/* ~~~~~~~~~~~~
Hover Effects
~~~~~~~~~~~ */
.sec-a:hover .banner-pic{
    transform: translate(-20px, 0px) scale(1.1);
    transition: transform 2s;
   
}


/* ---------
Menu bar styles
------------- */
header a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 20px;
}
.upper-bg{
    background-color: #2D25A0;
    padding-top: 20px;
    padding-left: 150px;
}

#login-button{
    position: relative;
    left: 450px;
}

/* ------------
1st Part Styles 
---------------*/


.sec-a div{
    padding-top: 25px;
    background-color: #2D25A0;
    padding-bottom: 50px;
}

.banner-pic img{
    width: 450px;
    position: relative;
    right: 140px;

}

.sec-a-parts{
    display: flex;
    align-items: center;
    font-size: 35px;
    color: white;
    
}
.sec-a-parts h1{
    padding: 100px;
    margin: 50px;
    position: relative;
    bottom: 55px;
}

.sec-a-parts a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 160px;
    bottom: 115px;
}

/* ------------
Button Styles
------------- */
.buttons {
    background-color: #e02c6d;
    Padding: 12px 25px;
}


/* ----------------
Second Section (Grid)
-------------------
 */

 .sec-b{
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

 .players img{
     width: 300px;
     height: 256px;
     justify-content: center;
     
 }

 .player-grids{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    row-gap: 50px;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 180px;
 }
 
.players p{
    text-align: justify;
}


/* ------------
Third Section
--------------- */

.sec-c{
    display: flex;
    margin-top: 100px;
    align-items: center;
    padding-left: 182px;
}

.sec-c-parts img{
    width: 567px;
    margin: 150px;
}

.sec-c-parts p h1{
    margin: 100px;
    
}

.sec-c-text{
    font-size: 41px;
    color: #0A0826;    
    font-weight: bold;
}

.sec-c-para{
    color: #6C6C6C;
    font-size: 16px;
    padding-bottom: 20px;
}
.sec-c-parts a{
    text-decoration: none;
    color: white;
    
}


/* -------
Last Part
--------- */

.sec-d{
    display: flex;
    justify-content: center;
}
.last-part img{
    width: 483px;
}

.social-icons{
    color: #969BAB;
    font-size: larger;    
}

.social-icons i{
    margin-left: 10px;
    justify-content: center;
}

.last-part{
    display: flex;
    justify-content: center;
}


/* ----------
Media Queries
----------- */

/* For Mobile Devices */
@media only screen and (max-width:688px) {
        
       
    .player-grids{
        grid-template-columns: repeat(1, 1fr);
   
    }
    .sec-c{
        display: block;
    }
    .sec-a-parts{
        display: block;
        padding: 0;
        margin: 0;
    }
    .sec-a-parts img{
        position: relative;
        width: 50%;
        left: 140px;
    }
    .sec-a-parts > div > h1{
        font-size: 40px;
    }
    .sec-a-parts h1{
        padding: 20px;
        margin: 20px;
        position: relative;
        bottom: 55px;
        text-align: center;
    }

    .sec-a-parts a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        left: 120px;
        bottom: 30px;
    }

    .upper-bg> .buttons{
        display: none;
    }

    header a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        margin: 8px;
        
    }
    .upper-bg{
        background-color: #2D25A0;
        padding-top: 20px;
        padding-left: 20px;
    }
    .sec-c{
        display: block;
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
        
    }
    /* ---------- */
    .sec-c-parts img{

        width: 80%;
        margin: 30px 15px;
    }
    
    .sec-c-parts p h1{
        margin: 10px;
        
    }
    
    .sec-c-text{
        font-size: 30px;
        color: #0A0826;    
        font-weight: bold;
    }
    
    .sec-c-para{
        color: #6C6C6C;
        font-size: 16px;
        padding-bottom: 20px;
        padding-right: 75px;
        text-align: justify;
    }

    .last-part img{
        width: 80%;
    }
   
}